#home {
  .body-container {
    height: 100%;
    width: 100%;
    background: gray;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    .card {
      height: 300px;
      width: 200px;
      background: yellow;
      margin: 5px;
    }
  }
}
